<section class="mb-6">
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-xl font-semibold text-gray-800">Products in Stock</h2>
    <button (click)="abrirModal()" class="bg-blue-500 text-white px-4 py-2 rounded">Add Product</button>
  </div>

  <app-toast #toast></app-toast>

  <table class="min-w-full border border-gray-300">
    <thead>
      <tr class="bg-gray-200">
        <th class="border p-2">ID</th>
        <th class="border p-2">Name</th>
        <th class="border p-2">Stock</th>
        <th class="border p-2">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let produto of produtos">
        <td class="border p-2">{{ produto.id }}</td>
        <td class="border p-2">{{ produto.nome }}</td>
        <td class="border p-2">{{ produto.estoque }}</td>
        <td class="border p-2">$ {{ produto.preco | number:'1.2-2' }}</td>
      </tr>
    </tbody>
  </table>
</section>

<!-- Modal -->
<!-- Dark background -->
<div *ngIf="modalAberto" class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center z-50">
  <div class="bg-white p-6 rounded-lg shadow-lg w-96"> <!-- Added p-6 for internal spacing -->
    <h3 class="text-lg font-semibold mb-4">Register Product</h3>
    
    <form (ngSubmit)="cadastrarProduto()">
      <div class="mb-4">
        <label class="block text-sm font-medium">Name:</label>
        <input type="text" [(ngModel)]="novoProduto.nome" name="nome" class="w-full border p-2 rounded" required>
      </div>
      
      <div class="mb-4">
        <label class="block text-sm font-medium">Stock:</label>
        <input type="number" [(ngModel)]="novoProduto.estoque" name="estoque" class="w-full border p-2 rounded" required>
      </div>

      <div class="mb-6">
        <label class="block text-sm font-medium">Price:</label>
        <input type="number" [(ngModel)]="novoProduto.preco" name="preco" class="w-full border p-2 rounded" required>
      </div>

      <div class="flex justify-end">
        <button type="button" (click)="fecharModal()" class="bg-gray-300 text-gray-800 px-4 py-2 rounded mr-2 hover:bg-gray-400">
          Cancel
        </button>
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">
          Save
        </button>
      </div>
    </form>
  </div>
</div>
